body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background: black;
  background-size: cover;
  background-attachment: fixed;
}
.body1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background: lightblue;
  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}

.Contenedor {
  width: 100%;
  padding: 15px;
}

.formulario {
  background: slategrey;
  margin-top: 150px;
  padding: 3px;
  align-content: center;
}

h1 {
  text-align: center;
  color: snow;
  font-size: 40px;
}

input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}

.input-contenedor {
  margin-bottom: 15px;
  border: 1px;
  border-radius: 10%;
}

.icon {
  min-width: 50px;
  text-align: center;
  color: black;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: gray;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: cadetblue;
}

p {
  text-align: center;
}

.link {
  text-decoration: none;
  color: snow;
  font-weight: 600;
}

.link:hover {
  color: cadetblue;
}

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 2%;
  }
}
.bi {
  vertical-align: -0.125em;
  fill: black;
}
.container {
  font-size: larger;
}
.container1 {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container1 .card {
  width: 330px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container1 .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container1 .card img {
  width: 330px;
  height: 220px;
}

.container1 .card h4 {
  font-weight: 600;
}

.container1 .card p {
  padding: 0 1rem;
  font-style: 16px;
  font-weight: 300;
}

.container1 .card a {
  font-weight: 500;
  text-decoration: none;
  color: #080b0c;
}

.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.text {
  color: black;
}
